{% extends "layout.html"%}

{% block content %}

{% if current_user.role != admin %}
<fieldset>
        <legend>Add Lesson</legend>
     <form action="" method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.title.label }} <br>
            {{ form.title }} 
            {% for err in form.title.errors %}
            <small>[{{ err }}]</small>
            {% endfor%}
        </div> <br>
        <div>
            {{ form.date_posted.label }} <br>
            {{ form.date_posted }} 
            {% for err in form.date_posted.errors %}
            <small>[{{ err }}]</small>
            {% endfor%}
        </div> <br>
        <div>
            {{ form.introduction.label }} <br>
            {{ form.introduction }}
            {% for err in form.introduction.errors %}
            <small>[{{ err }}]</small>
            {% endfor%}
        </div> <br>
        <div>
            {{ form.conclusion.label }} <br>
            {{ form.conclusion }}
            {% for err in form.conclusion.errors %}
            <small>[{{ err }}]</small>
            {% endfor%}
        </div> <br>
        <div>
            {{ form.memory_verse.label }} <br>
            {{ form.memory_verse }}
            {% for err in form.memory_verse.errors %}
            <small>[{{ err }}]</small>
            {% endfor%}
        </div> <br>
        <div>
            {{ form.scripture_reading.label }} <br>
            {{ form.scripture_reading }}
            {% for err in form.scripture_reading.errors %}
            <small>[{{ err }}]</small>
            {% endfor%}
        </div> <br>
        <div>
            <button>{{ form.submit }}</button>
        </div>
    </form>
   
    </fieldset>

{% endif%}
    
    
    <small><b><a href="{{url_for('home')}}">Home</a></b></small>
    
{% endblock content %}