{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{{ title }}</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            <label for="title" class="form-label">{{ form.title.label }}</label>
            {{ form.title(class="form-control") }}
            {% for err in form.title.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="scripture_reading" class="form-label">{{ form.scripture_reading.label }}</label>
            {{ form.scripture_reading(class="form-control") }}
            {% for err in form.scripture_reading.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="memory_verse" class="form-label">{{ form.memory_verse.label }}</label>
            {{ form.memory_verse(class="form-control") }}
            {% for err in form.memory_verse.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="introduction" class="form-label">{{ form.introduction.label }}</label>
            {{ form.introduction(class="form-control") }}
            {% for err in form.introduction.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="conclusion" class="form-label">{{ form.conclusion.label }}</label>
            {{ form.conclusion(class="form-control") }}
            {% for err in form.conclusion.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <small><a href="{{ url_for('home') }}" class="btn btn-link">Home</a></small>
</div>
{% endblock content %}
