{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{{ title }}</h1>
    
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            <label for="question" class="form-label">{{ form.question.label }}</label>
            {{ form.question(class="form-control") }}
            {% for err in form.question.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>
        
        <div class="mb-3">
            <label for="answers" class="form-label">{{ form.answers.label }}</label>
            {{ form.answers(class="form-control") }}
            {% for err in form.answers.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>
        
        <div class="mb-3">
            <label for="lesson_id" class="form-label">{{ form.lesson_id.label }}</label>
            {{ form.lesson_id(class="form-control") }}
            {% for err in form.lesson_id.errors %}
            <div class="text-danger">
                <small>[{{ err }}]</small>
            </div>
            {% endfor %}
        </div>
        
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    
    <small><a href="{{ url_for('home') }}" class="btn btn-link">Home</a></small>
</div>
{% endblock content %}
