{% extends "layout.html"%}

{% block content %}
    <fieldset>
        <a href="{{url_for('create_announcement')}}"> Create Announcement</a> <br>
        <a href="{{url_for('sabbath_schedule')}}">Sabbath Schedule</a>
    </fieldset>

    <!-- add an image  -->

    {% for announcement in announcements %}
        <div>
            <fieldset>
                <!-- url for updating post -->
                <a href="{{url_for('show_announcement', announcement_id=announcement.id)}}"><u><b>{{ announcement.title }}</b></u><br></a>
                <br>
                <i>{{ announcement.content }} <br></i>
                {{ announcement.author }} <br>
                {{ announcement.date_posted.strftime('%d/%m/%Y , %H:%M')}}
            </fieldset>
        </div>
    {% endfor %}
    <div>
        {% for page_num in announcements.iter_pages()%}
            {% if page_num %}
                <a href="{{url_for('announcements', page=page_num)}}">{{ page_num }}</a>
            {%endif %}
        {% endfor %}
    </div>
    <footer><h5>><a href="{{url_for('home')}}">Home</a></h5></footer>
{% endblock content %}