{% extends "layout.html"%}

{% block content %}
<body>
    <!-- <li>Header </li>
    <li><a href="/">Home (may.png)</a></li>
    <li><a href="http://127.0.0.1:5555/login">log In account</a></li>
    <li><a href="http://127.0.0.1:5555/signup">sign Up account</a></li>
    <li><a href="">announcements</a></li>
    <li>Church theme, vision, history</li>
    <li>Weekly verse</li>
    <li>footer : socials</li> -->
    <header>
        <nav>
            <h1>Messianic assembly of Yahweh - KABOROK</h1>

            <h3>Welcome</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('signup')}}">sign Up account</a></li>
                <li><a href="{{ url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('about_us')}}">about us</a></li>
                <li><b><i><a href="#">hebrew calendar</a></i></b></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="landing">
            <div class="image-container">
                <!-- <img src="{{ url_for('static', filename='images/church.jpg') }}" alt="Church"> -->
            </div>
            <div class="info">
                <h2>Theme of the Year</h2>
                <p>“United in Faith, Serving with Love”</p>
                <h2>Vision Statement</h2>
                <p>We love what Yahweh loves , and hates what he hates</p>
                <h2>Daily Verse</h2>
                <b><i><p>For I know the plans I have for you, declares the Yahweh - Jeremiah 29:11</p></i></b>
            </div>
        </div>
    </main>

    <li><a href="{{ url_for('announcements')}}">Announcements</a></li>
 
    <footer>
        <p>&copy; 2024 MAY | All Rights Reserved</p>
    </footer>

</body>
{% endblock content %}
