{% extends "layout.html" %}


{% block content %}

<div>
    <li><a href="{{url_for('home')}}">home</a></li>
</div>

<div>
    <!-- <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend> Shallom Brethren!</legend>
            <p>
                {{ form.username.label }} <br>
                {{ form.username(size=32) }} <br>
                {% for error in form.username.errors %}
                    <span style="color: darkred;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }} <br>
                {{ form.password(size=32) }} <br>
                {% for error in form.password.errors %}
                    <span style="color: darkred;">[{{ error }}]</span>
                {% endfor %}
            </p>

        </fieldset>

        <p>{{ form.remember() }} {{ form.remember.label }}</p>
        <p>{{ form.submit }}</p>

        <div>
            <small><a href="#">forgot password</a></small>
        </div>
    </form> -->

     <fieldset>
        <legend>Shallom Brethren!!</legend>
        
        <form action="" method="POST" novalidate>
        {{ form.hidden_tag()}}

        <p>
            {{form.username.label }} <br>
            {{ form.username(size=32)}} <br>
            {% for error in form.username.errors %}
            <span style="color: brown;">[{{ error }}]</span>
            {% endfor%}
        </p>

        <p>
            {{form.password.label }} <br>
            {{ form.password(size=32)}} <br>
            {% for error in form.password.errors %}
            <span style="color: brown;">[{{ error }}]</span>
            {% endfor %}
        </p>

            {{ form.remember() }} {{ form.remember.label }}
        </p>
        <p>{{ form.submit()}}</p>

        <p><small><a href="#">forgot password</a></span></small></p>
    </form>
     </fieldset>
    

</div>
<div>
    <small>need an account? <a href="{{url_for('signup')}}"> sign up</a></small>
</div>

{% endblock content%}
