{% extends "layout.html" %}

{% block content %}
<div>
    <fieldset>
        <b><u><h3>{{lesson.id}}. {{ lesson.title }}</h3></u></b>

    <p><strong>Date:</strong> {{ lesson.date_posted.strftime('%d/%m/%Y') }}</p>
    <p><strong>Scripture Reading:</strong> {{ lesson.scripture_reading }}</p>
    <p><strong>Memory Verse:</strong> {{ lesson.memory_verse }}</p>
    <p><strong>Introduction:</strong> <br> {{ lesson.introduction }}</p>
    <p><strong>Conclusion:</strong>  <br> {{ lesson.conclusion }}</p>

    </fieldset>
        <div>
            <u><a href="{{url_for('view_body', lesson_id=lesson.id)}}" >View Lesson</a></u> <br>
            <small><a href="{{ url_for('home') }}">Home</a></small> <br>
        </div>
        <button><a href="#">Download Lesson</a></button> <br>
        
        <a href="{{url_for('update_lesson', lesson_id=lesson.id)}}">Update Lesson</a> <br>
        <small><a href="{{url_for('add_content')}}">Add Questions and Answers</a></small>
        <div>
            <button><a href="{{url_for('delete_lesson', lesson_id=lesson.id)}}">Delete</a></button>
        </div>
    
    
</div>


{% endblock content %}
