{% extends "layout.html" %}

{% block content%}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend> Join Us Today</legend>
                <p>
                    {{form.firstname.label }} <br>
                    {{ form.firstname(size=32)}} <br>
                    {% for error in form.firstname.errors %}
                    <span style="color: brown;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                
                <p>
                    {{form.lastname.label }} <br>
                    {{ form.lastname(size=32)}} <br>
                    {% for error in form.lastname.errors %}
                    <span style="color: brown;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.email.label }} <br>
                    {{ form.email(size=32)}} <br>
                    {% for error in form.email.errors %}
                    <span style="color: brown;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.username.label }} <br>
                    {{ form.username(size=32)}} <br>
                    {% for error in form.username.errors %}
                    <span style="color: brown;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{form.password.label }} <br>
                    {{ form.password(size=32)}} <br>
                    {% for error in form.password.errors %}
                    <span style="color: brown;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.confirm_password.label }} <br>
                    {{ form.confirm_password(size=32)}} <br>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: brown;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </fieldset>

            <div>
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>

    <div>
        <small>
            already have an account? <a href="{{ url_for('login') }}">Log in</a>
        </small>
    </div>
{% endblock content%}  