<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| MAY Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up_style.css') }}">
</head>
<body>
    <main class="login-container">
        <form action="/signup" method="POST" class="login-form">
            <h2><i><b>SIGN UP</b></i></h2>

            <li>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </li>

            <li>
                <label for="username">email:</label>
                <input type="text" id="username" name="username" required>
            </li>

            <li>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </li>
                
            <li>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </li>
               
            <li>
                <button type="submit">Sign Up</button>    
            </li>
        </form>
    </main>
</body>
</html>
